[2018-08-05 16:01] lyingju opened #1 "Not found error when compiling"
Error: Type 'TextInputAction' not found.

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, v0.5.1, on Mac OS X 10.13.4 17E199, locale en-US)
[✓] Android toolchain - develop for Android devices (Android SDK 28.0.1)
[✓] iOS toolchain - develop for iOS devices (Xcode 9.4.1)
[✓] Android Studio (version 3.1)
[✓] Connected devices (1 available)

[2018-08-06 23:04] felixmccuaig commented on #1
Hey, thanks for raising this issue; it seems that the TextInputAction parameter has been removed or something.

[2018-08-06 23:42] #1 closed

[2018-09-21 00:32] shtengel opened #3 "Suggestion list does not disappear after clicking"
After Suggestion list item had been clicked the list does not disappear.
please add  this line

[2018-09-29 04:55] felixmccuaig commented on #3
Hey, you're going to have to give me some more information on the issue in
order for me to fix it.

On Fri, Sep 21, 2018 at 10:32 AM shtengel <notifications@github.com> wrote:

[2018-09-30 09:47] shtengel commented on #3
Hey! When I type and the suggestion list appears and I click one of the items the keyboard and the suggestion list does not disappear

[2018-09-30 11:09] felixmccuaig commented on #3
Sounds annoying. Are you using the latest plugin version? (1.4.1)

[2018-09-30 11:15] felixmccuaig commented on #3
In the latest version (1.4.1) I have added two parameters for customization. submitOnSuggestionTap and clearOnSubmit. Enabling both should most likely fix your issue (they are enabled by default) as they will cause the plugin to submit (the TextField) when the user taps on a suggestion, therefore closing the keyboard and removing the suggestion list. clearOnSubmit can be used to automatically clea

[2018-10-06 21:12] shtengel commented on #3
Thanks!

[2018-10-06 21:12] #3 closed

[2018-10-09 00:07] hbdejesus opened #4 "Suggestions not showing dynamic list"
Hi, is there a way to manually show the suggestions overlay?

I have this autocompletetextfield that gets it's suggestions from rest API. when I update the list of suggestions, the list is being updated but no suggestions are being shown.

I'm fairly new to Flutter and TYIA for the help

[2018-10-19 14:41] ysoofiyani opened #5 "initialValue"
How I can set initialValue???

[2018-10-19 16:07] pranayairan opened #6 "Using multiple autoComplete Textfield in same widget tree cause global key exception"
Hi thanks for this amazing library, I was having an issue while using it and want to check if anyone knows how to solve.

I want to use the 2-3 autocomplete text fields on the same screen. But when I add it and run the app, I get the error `Multiple widgets used the same GlobalKey.`

This happens because the global key which is a required field cannot be used for more than 1 widget. There is a wor

[2018-10-20 11:06] felixmccuaig commented on #4
Hey, this is a feature I will add soon. Sit tight!

[2018-10-20 11:07] felixmccuaig commented on #5
Sorry, not sure what you mean. Do you mean perhaps suggestions?

[2018-10-20 11:20] felixmccuaig commented on #6
Umm yeah, this should most definitely be possible. Just give each autocomplete text field its own global key and you'll be fine.

`
GlobalKey<AutoCompleteTextFieldState<String>> key1 = new GlobalKey(); //Key for textfield one
GlobalKey<AutoCompleteTextFieldState<String>> key2 = new GlobalKey(); //Key for textfield two
`

[2018-10-20 11:44] felixmccuaig commented on #4
Just added the requested feature! Does what it says on the tin. Use `addSuggestion`, `removeSuggestion` or `updateSuggestions` to change suggestions dynamically.

[2018-10-20 11:44] #4 closed

[2018-10-22 14:32] pranayairan commented on #6
I tried this but it throws an exception

[code]

[2018-10-26 04:52] felixmccuaig commented on #6
`2018-10-22 07:30:43.149 28048-28064/dexterapps.bankifscflutter I/flutter: Multiple widgets used the same GlobalKey.`
This line states multiple widgets are using the same key. [here](https://www.didierboelens.com/2018/06/widget---state---context---inheritedwidget/) seems like a good overview of how globalkey works in Flutter.

[2018-10-26 04:53] #5 closed

[2018-11-01 07:28] sathishRA91 opened #8 "Hi how to use custom object"
I am using custom object but it return instance of object string only in textsubmit

[2018-11-01 10:38] suparnavg opened #9 "Target of URI doesn't exist: 'package:autocomplete_textfield/autocomplete_textfield.dart'."
Weird error when trying to set up the package.

[code]

[2018-11-01 10:45] suparnavg commented on #9
Has nothing to do with this package.. needs a restart of the IDE

[2018-11-01 10:45] #9 closed

[2018-11-12 23:38] pranayairan commented on #6
thanks,
I am actually using it in a diff way, i created another widget on top of autoComplete widget, due to this i am not able to pass multiple global keys, since doing GlobalKey<AutoCompleteTextFieldState<String>> key1 = new GlobalKey() 2 times also create same instance of Globalkey.

[2018-11-15 07:25] suparnavg commented on #8
@sathishRA91 did you manage to figure this out?

[2018-11-15 07:42] sathishRA91 commented on #8
@suparnavg yes creating two list one for ID and another for String. match the index position to retrieve specific ID that's the way i find out temporary solution.

[2018-11-15 07:43] suparnavg commented on #8
Good hack, thanks!

On Thu, Nov 15, 2018, 1:12 PM sathishRA91 <notifications@github.com wrote:

[2018-11-15 11:41] john-ravi opened #10 "Not Showing items overlay in my view hierarchy but it manages to.."
Not Showing items overlay in my view hierarchy but it manages to execute itemFilter and itemBuilder with desired results. Is there something in this layout below stopping to show results.

Parents from top Scaffold -> Stack -> Container -> Card ->ListView:

First LAyout:
[code]
But showing the result using this layout with height set on containing Container
[code]

But this is ugly and not desired

[2018-11-16 10:19] john-ravi commented on #10
[code]

This WORKED!

[2018-11-16 10:47] john-ravi commented on #10
But suggestions overlay is only visible after closing the keyboard!!

[2018-11-16 10:52] felixmccuaig commented on #6
If you're subclassing the AutoCompleteTextField, you'll need to implement the necessary implementations.

[2018-11-16 10:55] felixmccuaig commented on #10
Seems like a complex problem, I'll take a look at it soon. If you manage to solve it feel free to pull request. :D

[2018-11-16 11:02] felixmccuaig commented on #8
Good pickup, I'll take a look into returning the selected object. :D

[2018-11-20 07:05] UG opened #11 "How do I change actual text field text value?"
in usual TextFeild using controller.text to modify TextField's text value.
This widget don't have Textfield controller How can I modify text in TextField.

for delete text , using clear() understand, what if I want "location:New  York" for search text bar.

[2018-11-25 05:17] #6 closed

[2018-11-27 08:17] infl3x commented on #11
I agree, I would like to see maybe the `TextField` itself exposed for more flexibility.

[2018-11-27 11:30] felixmccuaig commented on #8
I just added the fix! It's live on pub version 1.6.0

[2018-11-27 11:32] sathishRA91 commented on #8
@felixlucien great thanks

[2018-11-27 11:36] felixmccuaig commented on #10
It seems to me that the layout is resizing for the keyboard. The scaffold has a parameter called resizeToAvoidBottomPadding. This is true by default, however, disabling it solves your problem.

[2018-11-27 11:36] #10 closed

[2018-11-27 11:37] #8 closed

[2018-11-27 11:45] felixmccuaig commented on #11
Just published 1.6.1, textField is now exposed.

[2018-11-27 11:45] #11 closed

[2018-11-29 09:01] hatzyuta opened #12 "lib/autocomplete_textfield.dart was deleted."
Hi, @felixlucien .
You deleted the file accidentally?
If no problem ,could you recover the file ?

[2018-11-29 09:28] felixmccuaig commented on #12
sorry, fixed

[2018-12-01 04:31] john-ravi opened #13 "How to add inputFormatters?"
`AutoCompleteTextField textField;
       ....
       textField.key.currentState.textField.inputFormatters.add(
        WhitelistingTextInputFormatter(RegExp("^[A-Za-z0-9]+");`

This gives null exception. Thank you!

[2018-12-04 20:05] sjmcdowall commented on #13
That's because your example is just DEFINING the variable textField and not CREATING it ..

perhaps something like

AutoCompleteTextField textField = AutoCompleteTextField(arg1, arg2, etc);

textField.key.currentState.textField.inputFormatters.add....  would work?  (not sure but at least textField would be initialized

[2018-12-05 09:02] DK15 opened #14 "Display selected item in autocomplete textfield"
I want to show the selected / clicked item from suggestion list in textfield. How do I do that ? I know textfield is now exposed in latest version, but I don’t know how to use controller with autocomplete textfield. Please see my detailed question here :

https://stackoverflow.com/questions/53590156/how-to-set-value-in-autocompletetextfield

[2018-12-05 09:05] felixmccuaig commented on #14
Off the top my head, you would use textfield.controller.text = “YOUR TEXT HERE"

[2018-12-05 09:08] felixmccuaig commented on #14
So as in

itemSubmitted: (item) {
	setState(() => autocompletetextfield.textfield.controller.text = item. autocompleteterm);
}

[2018-12-05 09:09] DK15 commented on #14
Thanks, I will try that now.

[2018-12-05 11:15] DK15 commented on #14
That worked. I also had to set `clearOnSubmit: false` to be able to show the value in textfield.

[2018-12-05 11:15] #14 closed

[2018-12-05 11:34] felixmccuaig commented on #13
@john-ravi I'm adding this feature now. :)

[2018-12-05 11:41] felixmccuaig commented on #13
Added inputformatters param in autocomplete_textfield as of 1.6.4.

[2018-12-05 11:41] #13 closed

[2018-12-05 12:00] sjmcdowall commented on #13
@felixlucien -- If not already thought of you  may want to follow the pattern of the "other" autocomplete project and allow just about any textfield modification to be passed in via a named parameter..

It's the flutter_typeahead project .. and he uses a TextFieldConfiguration idea as in the following code

[code]

There are lot more options obviously but you get the idea (and since it's open sour

[2018-12-11 00:33] zinwalin opened #15 "Keyboard hide suggestions list."
it's better to use ListView for suggestions instead of Card widget.

[2018-12-11 23:47] felixmccuaig commented on #15
You're going to have to give a better description of the problem. Perhaps a reason why listview is better and the issue the change would aim to solve.

[2018-12-17 11:48] felixmccuaig commented on #13
I may look into doing such a thing. For now, it all seems to work well however it could be useful for simplicity.

[2018-12-21 03:51] #15 closed

[2018-12-27 21:58] codemode89 opened #16 "prefill"
Hello,
i love the autocomplete textfield.

But is it possible to prefill it with a text?

Greetings from Germany

[2018-12-28 02:59] felixmccuaig commented on #16
Hey,
I assume you mean what Flutter calls a "hintText" as in when the grey text inside the textfield that might say "example@email.com" and when you start typing it goes away. Or do you mean to actually set the value of the textField in advance?
Thanks, Felix.
Greetings from Australia :)

[2019-01-08 15:33] sjmcdowall opened #17 "Question : How do we populate a changing suggestions list via a Future DB call?"
I was just wondering if maybe you or someone has an example of a more complex situation like I want to implement .  Well, did implement using a different Widget -- but want to convert to this one.  Basically we have a TextField suggestion box -- but we want to debounce the text to 300 ms and take the result to query a DB to fill in the suggestions ..

Maybe with update suggestions (now added) this

[2019-01-10 10:18] Verbruik commented on #16
Hi Felixlucien,

Actually both solutions could be a nice to have :)

In my case I need a hint AND a prefill value when the widget is initialized, is this any planified improvement ?

And btw, manage the TextEditingController instead of hardcoding it in the sub TextField of the AutoCompleteTextFieldState could be nice :D

Anyway, the lib is pretty useful, good job :)

Greetings from Belgium ;)

[2019-01-16 09:00] Theunodb commented on #16
Hi Felixlucien,

I agree that both solutions will be useful. I'm using your package to select a value from a list when creating an object with a couple of text fields, but i need to set the initial value for the textfield when i edit the object.

In my case i'm using Input decoration with labeltext, which hides the hint text (hides it until you select the value)

Would be great to have a controlle

[2019-01-17 09:29] Verbruik commented on #16
Hi Theunodb,

Actually you can work arround those missing features, but it still not the best solution.

In my case I use the GlobalKey and retreive the currentState of the controller with it. With this you can init the value of the textField when the state is initialized and the hintText still visible even when the focus isn't on the text field.

[code]

[2019-01-18 07:57] hbdejesus opened #18 "Debounce textChanged"
Is there a way to debounce the textChange in order to not flood the server with API calls every time you input a text?

[2019-01-18 08:24] felixmccuaig commented on #18
None implemented at the moment. Off the top of my head, to implement it, I would use a pattern like [this](https://medium.com/@griffinmichl/implementing-debounce-in-javascript-eab51a12311e)

[2019-01-18 08:31] felixmccuaig commented on #17
Yeah sounds feasible to me, to do so I would use a pattern like [this](https://medium.com/@griffinmichl/implementing-debounce-in-javascript-eab51a12311e), it doesn't look too challenging.

[2019-01-18 09:53] hbdejesus commented on #18
I'll try this out. Thanks!

[2019-01-28 18:55] KA5558 opened #19 "How to get all elements of the suggestions list as suggestion"
First of all, thank you very much for this library.

Just a little question.

How can i get all elements of the suggestions list as suggestion when the input text is empty (for example when first tap on the input area) ?

[2019-02-14 06:24] ariefannur opened #21 "getTextBeforeCursor on inactive InputConnection When click the suggestion list"
here my code
[code]
when click the suggestion list, the text doesn't appear this method textSubmitted: (input)

here the log
[code]
Any suggestion?

[2019-02-20 21:45] spidgorny opened #22 "The suggestions appear in Overlay which is covered by software keyboard"
![image](https://user-images.githubusercontent.com/1579235/53126716-14e28480-3561-11e9-901f-5a1704cf6ce4.png)

See the screenshot above. Notice the blue line just above the keyboard? This is the suggestion popup. The position is calculated incorrectly when software keyboard is open. Hiding the keyboard allows me to see the suggestion, but 99% of the people will not notice.
I suggest to (a) detect

[2019-02-21 09:09] Theunodb commented on #16
Is this something thats on your roadmap? Would be great to have this, even though @Verbruik workaround exists, it would be great to have a more elegant solution.

[2019-03-05 14:33] fazil-augr opened #23 "How to change text field color."
I want to change the text field color. I tried so methods. No one working

    searchTextField = AutoCompleteTextField<Keyword>(
        style: new TextStyle(color: Colors.black, fontSize: 18.0),
                           decoration:  new InputDecoration(
                             border: InputBorder.none,
                             fillColor: Colors.red,
              )
   )

Is there any s

[2019-03-06 05:31] hbdejesus commented on #23
You what you mean by color is the fillColor, you need to set the "filled" property of InputDecoration to true.

Ex.
`new TextStyle(color: Colors.black, fontSize: 18.0),
                       decoration:  new InputDecoration(
                         border: InputBorder.none,
                         filled: true,
                         fillColor: Colors.red,
          )`

Edit:
Link to InputDec

[2019-03-06 06:45] fazil-augr commented on #23
After re clean and rebuild it is working fine. I don't know why it is not working in previous. It is not working in hot reload also. Any way thanks my problem solved.

[2019-03-06 06:46] fazil-augr commented on #23
After clean and rebuild it is working fine. I don't know why it is not working in previous. It is not working in hot reload also. Any way thanks my problem solved.

[2019-03-06 06:46] #23 closed

[2019-03-10 19:49] scottTomaszewski opened #24 "add autofocus support"
Maybe I am missing it, but it seems that there isn't an easy way to autofocus the textfield (focus it immediately).  Could you expose this field?

For those reading this, here is a hack in case you're in a pinch:

[code]

[2019-03-11 13:50] MohiuddinM opened #25 "Error when suggestions is const"
NoSuchMethodError: The method 'map' was called on null.

[2019-03-28 11:52] Geriko420 opened #29 "Add Validator and keyboardAppearance properties"
Like in TextFormFields, it could be great if we can add the Validator property and the keyboardAppearance property.

Example for the Validator property :
[code]

And for instance the keyboardAppearance property :
[code]

[2019-03-29 03:24] hbdejesus commented on #29
Form the meantime you can try making your own widget that extends the FormField class just like the TextFormField then just return the AutoCompleteTextField on the build parameter.

Edit:
Here's a link to a tutorial on how to make your own FormField widget.
[https://medium.com/saugo360/creating-custom-form-fields-in-flutter-85a8f46c2f41](url)

[2019-03-29 08:16] Geriko420 commented on #29
Thanks for the quick answer and the tutorial. I will try to do that way.

I will let you know :)

Best regards,
Simon

[2019-04-02 15:10] MauriPastorini commented on #19
Same question here, did you resolve this? Does this library provide this feature?

[2019-04-03 09:38] lucasriondel commented on #24
+1

[2019-04-03 09:38] lucasriondel commented on #29
+1

[2019-04-03 10:13] #16 closed

[2019-04-13 02:57] benmeemo commented on #15
I encountered this as well. The problem I saw is that when autocomplete was the last widget in a column and the keyboard opened, the keyboard hid the suggestions and it was impossible to scroll down to see the suggestions.

[2019-04-20 02:14] altherat opened #30 "Overlay position doesn't update"
Here's an example app showing the issue:
[code]

The overlay position does not follow the TextField when TextField changes position due to the keyboard showing/hiding. A proper fix would be to update the overlay's position whenever the TextField changes position but I'm not sure how to detect for that. I ran into this issue with an AutoCompleteTextField in a dialog, then adding content to the dial

[2019-04-24 00:36] CoreyCole opened #32 "Expose controller in constructor to initialize with starting text"
When using a normal `TextField`, I can initialize the starting text:
[code]
I'm not able to do this with `AutoCompleteTextField`:
[code]
I saw #11, where we can access the `textField` property after the `AutoCompleteTextField` has been built. But, that is not working for me using `StreamBuilder`. I get error:
[code]

[2019-04-29 21:59] msalinas1088 commented on #19
Maybe adding a property to allow users to display all entries when the filter is empty

[code]

[2019-04-30 17:29] msalinas1088 opened #33 "Losing focus doesn't update the overlay"
Having multiple widgets and a user focus' on another widget the overlay doesn't update.

My suggestion would be updating the overlay as well when the **filteredSuggestions** are cleared.

[code]

[2019-05-02 17:52] gdeus commented on #21
Hello,

I have a very similar problem, have you found a solution to this? I'm waiting. There are 3 days with this problem and I can not solve it;

[2019-05-04 13:26] xalikoutis commented on #32
same problem here, i need a initial value

[2019-05-05 03:21] #17 closed

[2019-05-05 03:21] #18 closed

[2019-05-05 03:24] felixmccuaig commented on #19
Something like this should work
`
itemFilter: (suggestion, input) {
        return suggestion.name.toLowerCase().startsWith(input.toLowerCase()) || input == "";
      },
      minLength: 0,
`

[2019-05-05 03:24] #19 closed

[2019-05-05 04:08] felixmccuaig commented on #21
This question literally makes no sense. Unless you describe the problem better I can't help. Thanks.

[2019-05-05 04:08] #21 closed

[2019-05-05 04:45] #30 closed

[2019-05-05 05:02] #33 closed

[2019-05-05 05:11] felixmccuaig commented on #22
Should be fixed by #31.

[2019-05-05 05:11] #22 closed

[2019-05-05 05:12] felixmccuaig commented on #25
Just don't make it const.

[2019-05-05 05:12] #25 closed

[2019-05-10 08:37] JohnPang1204 opened #35 "Dialog wouldn't dismiss after submitted"
Hi, felixlucien. That is not working anymore after i upgraded flutter version. It's able to prompt dialog if user input relevant to predefined list. but dialog wouldn't dismiss anymore after submitted. I attached error msg below. Thank you for your helping.

I/flutter ( 4443): ══╡ EXCEPTION CAUGHT BY FOUNDATION LIBRARY ╞════════════════════════════════════════════════════════
I/flutter ( 4443): Th

[2019-05-10 10:41] mayurprajapati commented on #35
I got the same error.

[2019-05-10 14:56] ahaboubi commented on #35
Same here

[2019-05-12 02:05] oom- opened #36 "errorText not working"
Hi,
I would want to change the message of the "errorText" value of the decoration after the "textChanged" event.

Then i have something like this:
[code]
The problem is that it's not working because the `decoration` that i pass in parameter is passed in the constructor of the `AutoCompleteTextFieldState<T>` class and like that its stay in "final" i can't do nothing to change it and the build metho

[2019-05-13 20:49] tchedev commented on #35
I'm facing the same issue here.

[2019-05-14 01:25] nihalreddy33 opened #37 "AutoCompleteTextFieldState.updateOverlay.<anonymous closure>"
The Plugin is crashing when we go back & forth in the App with setState() called after dispose() at line 240, we need to have the setState mounted in the plugin
AutoCompleteTextFieldState.updateOverlay.<anonymous closure>.<anonymous closure>.<anonymous closure>
package:autocomplete_textfield/autocomplete_textfield.dart:240
**STACK:**
flutter: solution is to check the "mounted" property of this obj

[2019-05-17 00:02] asrinagesh commented on #35
Has anyone found a solution?

[2019-05-17 01:40] tchedev commented on #35
Unfortunately, I haven't found a solution yet. I've decided to use this one
https://pub.dev/documentation/flutter_typeahead_plugin/latest/

[2019-05-19 20:35] Ahmadre commented on #37
The problem is: he/she implemented a stateful widget without adding initState and dispose !!! fork it and correct it, if you want a quick fix

[2019-05-22 14:53] LordLaser commented on #35
I had to add this to the AutoCompleteTextField properties even though it's not marked as required:

onFocusChanged: (hasFocus) {},

[2019-05-26 09:43] aleaforny opened #39 "Error when touching autocomplete field"
Hello,

I've updated flutter from 1.2.x to last stable release, 1.5.4 :

`[√] Flutter (Channel stable, v1.5.4-hotfix.2, on Microsoft Windows [version 6.3.9600], locale fr-FR)`

No changes to the code at all. I just tried to build the appbundle again and I got some errors regarding to this plugin. Using debug, this is the error message I get when I touch the autocomplete field (without typing anyth

[2019-05-26 11:39] aleaforny commented on #39
Duplicate of #35

Just added `onFocusChanged: (hasFocus) {}` to AutoCompleteTextField and it fixed the issue.

I still think this need to be fixed in the code as it was working before the upgrade of flutter.

[2019-05-26 11:39] #39 closed

[2019-06-04 02:12] ueabu opened #40 "itemBuilder not responding to SetState."
I am currently trying to put a checkbox in the builder. The checkbox appears but does not respond when tapped. The value changes but the box itself does not change when the value changes. It remains to be the same color.

[code]

Does the builder for the suggestion use a different context?

[2019-06-05 18:05] renatopastor1 opened #41 "The method 'call' was called on null. Using AutoCompleteTextField"
My view broke after a flutter update, it was working perfectly up until then.

flutter: ══╡ EXCEPTION CAUGHT BY FOUNDATION LIBRARY ╞════════════════════════════════════════════════════════
flutter: The following NoSuchMethodError was thrown while dispatching notifications for FocusNode:
flutter: The method 'call' was called on null.
flutter: Receiver: null
flutter: Tried calling: call(true)
flutte

[2019-06-05 18:13] renatopastor1 commented on #39
Awesome thanks! @aleaforny

[2019-06-05 18:14] renatopastor1 commented on #41
Found a solution, the problem is with the focus node

You just need to add:
onFocusChanged: (hasFocus) {},
to AutoCompleteTextField

it was the same issue as https://github.com/felixlucien/flutter-autocomplete-textfield/issues/39

[2019-06-05 18:14] #41 closed

[2019-06-06 15:18] Karlheinzniebuhr commented on #35
I have the same issue, the suggestions won't disappear when selecting one. But no error is shown in the console. This issue happens with v 1.6.4 and 1.6.6

[2019-06-06 15:24] aleaforny commented on #35
Have you tried to add the property `onFocusChanged: (hasFocus) {}` to your widget ?

[2019-06-06 15:58] Karlheinzniebuhr commented on #35
That solved the issue, thanks!

[2019-06-22 17:39] breitembach opened #42 "when i don't select a item in autoCompleteTextField (android)"
The Screen don't Open More

Another exception was thrown: setState() called after dispose(): AutoCompleteTextFieldState<banks>#f9733(lifecycle state: defunct, not mounted

[2019-06-23 17:16] Chimbi opened #43 "Method 'call' was called on null"
Another exception was thrown: NoSuchMethodError: The method 'call' was called on null.

[2019-06-23 23:30] onlinecheckwriter opened #44 "Onblur Event"
Hello,
Is it possible to reload the list from remote, When people finish writing?

For instance, you want to search starting with ab when you will finishing typing ab it should go to the server bring data and reload the listing.

loading? CircularProgressIndicator():searchTextField = AutoCompleteTextField<User>(
                  key: key,
                  clearOnSubmit: false,

[2019-06-23 23:31] onlinecheckwriter-zz commented on #43
add onFocusChanged: (hasFocus) {},
it should fix the problem

[2019-06-24 06:52] felixmccuaig commented on #24
Could you not instantiate your textfield to a variable and do textfield.textfield.focusNode ?

[2019-06-24 07:03] felixmccuaig commented on #35
I'll look into it. Thanks.

[2019-06-24 07:13] felixlucien commented on #36
Could you perhaps change the theme associated with the TextField in order to change colors associated with it? (By wrapping the AutoCompleteTextField in a Theme widget).

[2019-06-24 07:18] felixmccuaig commented on #37
I'll take a look into it.

[2019-06-24 11:41] felixmccuaig commented on #40
Yeah probably, but I can't really know for sure without seeing the whole class.

[2019-06-24 11:41] #40 closed

[2019-06-24 11:42] felixmccuaig commented on #42
Not really sure what you mean here...

[2019-06-24 11:43] felixmccuaig commented on #43
I'm going to need more information to be able to look into this, try including the code that was running at the time and output from the console.

[2019-06-24 11:46] felixmccuaig commented on #44
Yes, this is possible. Try calling your http request or whatever you have, and assigning a callback for it, when it calls back, set the data and setState.

[2019-06-24 11:46] #44 closed

[2019-06-24 11:46] felixmccuaig commented on #44
I don't know what onBlur event is though or what you mean by that.

[2019-06-24 11:52] felixmccuaig commented on #32
I'll have to look a bit deeper into this one, thanks for raising the issue though.

[2019-06-24 12:45] ueabu commented on #40
Would you like to see the whole class ?

[2019-06-26 22:56] Karlheinzniebuhr commented on #36
Having the same issue. AutoCompleteTextField does not rebuild even though I update the errorText value in setState()

[2019-06-30 04:28] felixmccuaig commented on #24
FocusNode can now be supplied by user.

[2019-06-30 04:28] #24 closed

[2019-06-30 04:32] felixmccuaig commented on #35
I'm going to need a little bit more information to fix this issue, would you mind supplying some code which causes this error?

[2019-06-30 04:33] felixmccuaig commented on #37
This issue should likely be fixed now that the dispose method has been implemented. Please let me know if it persists.

[2019-06-30 15:47] Karlheinzniebuhr commented on #35
this is my code which was solved once I added hasFocus()

`    asignSearchTextField = AutoCompleteTextField<User>(
        //style: new TextStyle(color: Colors.black, fontSize: 15.0),
        decoration: InputDecoration(
//          suffixIcon: Container(
//            width: 85.0,
//            height: 60.0,
//          ),
          filled: false,
          //labelText: 'Asignar a',
          hin

[2019-07-01 06:49] patriciapg93 commented on #37
Hi,
I have the same issue. I have a screen with an autocomplete textfield but when I go back and forth then tap on the textfield to write something, it throws an error. I have tried it today, since I saw your comment about the implementation of the dispose method, but the issue persists.

I am working with the plugin version ^1.7.1.

Exception:

flutter: ══╡ EXCEPTION CAUGHT BY GESTURE ╞══════════

[2019-07-02 03:31] felixmccuaig commented on #35
Thanks, however, I'm still not really understanding the dialog part. Is the TextField inside a dialog? Is the submit action creating/closing a dialog?

[2019-07-02 03:32] felixmccuaig commented on #32
This one should be fixed now.

[2019-07-02 03:32] #32 closed

[2019-07-02 03:56] felixmccuaig commented on #37
@patriciapg93 I'm not really sure what you mean by "go back and forth"... do you mean navigating to different screens? If you could clarify the problem in more detail and provide code that was running at the time, I can look into this.

[2019-07-02 04:01] felixmccuaig commented on #36
I'll look into it.

[2019-07-02 04:28] felixmccuaig commented on #36
The solution that I see to this is to rebuild the whole TextField with new decoration.

[2019-07-02 05:52] felixmccuaig commented on #36
This should be fixed in 1.7.3. When changing decoration etc, use updateDecoration()

[2019-07-02 05:52] #36 closed

[2019-07-02 07:55] patriciapg93 commented on #37
Yes, I have a page (PAGE 1) with an empty text that should be filled with the autocomplete selected suggestions (which I have in another page). There is a button in this page that takes the user to another page (PAGE 2) where I have the autocomplete textfield.

When I go from Page 1 to Page 2 the first time, the autocomplete textfield works fine, I can tap on it for it to gain focus and as I write

[2019-07-03 18:11] Karlheinzniebuhr commented on #36
I'm sorry I don't understand what you mean, I tried rebuilding the TextField and the whole AutoCompleteTextField and it didn't work for me

[2019-07-03 18:25] Karlheinzniebuhr commented on #35
### Before (dialog won't dismiss)
![before](https://user-images.githubusercontent.com/5278928/60615868-26089100-9d9e-11e9-9133-2d03fd923a25.gif)

### After using onFocusChanged: (hasFocus) {},
![after](https://user-images.githubusercontent.com/5278928/60615958-5e0fd400-9d9e-11e9-8118-98add120b0dd.gif)

[2019-07-09 05:59] patriciapg93 commented on #37
Any update on this?
Thank you!

[2019-07-09 22:16] msalinas1088 commented on #42
What I think @breitembach is trying to say is that "losing focus" event is not triggering. He is selecting the autocomplete widget that then displays the suggestions but if a suggestion isn't selected and tries to leave the page then this results in an exception.

The autocomplete tries to call setState() but the page is now disposed.

[2019-07-10 00:40] felixmccuaig commented on #37
Not yet... I haven't had time to look into this. Hopefully I'll be able to fix soon, I'm sure it's doable.

[2019-07-16 09:21] corsantic commented on #37
Same issue here.  I think you need to add `if(!mounted) return;` before `setState(() => .... )` for mounted check.
Thanks.

[2019-07-29 14:19] joakiwpc commented on #37
We are experiencing same issue here.
Hope @felixlucien could fix it soon.

Thank you!

[2019-07-29 22:52] anthonycic opened #46 "Make Scrollable"
Hi,

Your textfield is very usefull, but how could we make the suggestions scrollable ?

Thank you in advance,

[2019-07-30 09:22] AmazingBite opened #47 "Change the width of the suggestion list"
I use a autocomplete text field in my app Bar. On the left of this app bar, there is a burger icon and on the right another icon for starting/ending the search.
I would like the list of suggestion to take the width screen instead of only the text field width. Is it possible?

[2019-08-06 07:45] Ainiuso commented on #37
The solution might be to manually remove Overlay in onDispose (Example can be found in Tooltip class).
The bug appears when you navigate to different screen while overlay is open, however it's not removed during navigation and continues to consume onTap events.

[2019-08-07 14:23] aliazxs opened #52 "suggestions comes from server?"
your plugin is awesome man Thank you,

what if my suggestions comes from server so i had to display what the server returns?

[2019-08-08 07:49] AmazingBite commented on #52
I suggest you to check BLoC Pattern.
Here some helpful links. Those are explanations with examples made by Didier Boelens :

The basics with streams and BLoC pattern ([Reactive Programming - Streams - BLoC](https://www.didierboelens.com/2018/08/reactive-programming---streams---bloc/))
A bit deeper and practical exemple ([Reactive Programming - Streams - BLoC - Practical Use Cases](https://www.didi

[2019-08-20 16:27] javierdaza opened #53 "Can't access onTap method from TextField"
Awesome plugin! Thanks
How can I access the onTap method like it is used in Text Field? Is it possible?

I want to list some suggestions if the user taps the autocomplete search field.

[2019-08-23 00:08] pyjavo commented on #52
I am looking for something similar. It would be great if there is a feature that also allows you to make API requests.

[2019-08-23 11:42] justAsascha commented on #53
I've solved it with:

[code]

[2019-09-05 14:37] hossein-hbb opened #55 "Get id of value"
How can iget selected id from autocomplete_textfield ?

[2019-09-05 14:38] HosseinBabriani commented on #55
This id my code :
import 'package:flutter/material.dart';
import 'package:http/http.dart' as http;
import 'User.dart';
import 'dart:convert';
import 'package:autocomplete_textfield/autocomplete_textfield.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {
    return Mater

[2019-09-14 07:33] AndryHTC opened #56 "Minimal Setup"
I think that this widget asks for too many mandatory parameters. A lot of them could simply take a Default action (I think deserves for 90% of the use cases), instead of asking to the user to pass them always.

i.e. itemFilter, itemSorter, itemSubmitted(?), key(?), controller(?)

[2019-09-19 11:18] banfger commented on #35
onFocusChanged: (hasFocus) {} did nothing for me. But looking into the source code, I could solve it.

In the updateOverlay function selecting the text does not result in an update, so I changed it to this:

[code]

Now after selecting a suggestion the dialog disappears. But if you click in the textfield again, the new suggestions are the same as the ones that were suggested at the time you select

[2019-09-23 02:41] danieramiz commented on #46
YES! WE NEED THIS!

[2019-09-23 07:25] anthonycic commented on #46
For everyone who's asking the same thing, i find another solution :

SimpleAutocompleteFormField

Check on Google.

[2019-09-24 19:33] andresinostroza opened #57 "How to use updateSuggestions? Example please"

[2019-10-08 07:43] manhtuan1712 opened #58 "How to make new line from flutter autocomplete textfield"
Hi, i have very long text when i input back to autocomplete text field it is on the same line and do not wrap new line.  How to make text auto-wrap when it's too long. Thanks all

[2019-10-20 11:54] codetinker commented on #52
Same here. I would be great if we can update the suggestion list after received the response from api request

[2019-11-07 06:28] sovoereign commented on #4
You

have you added this functionality?

[2019-11-18 15:15] acuero commented on #58
Hi!

You can use "\n" for new lines. Try this:

[code]
Check the "\n" in subtitle property.

[2019-11-28 03:28] isaacdov2 opened #60 "AutoCompleteTextFieldState not disposing"
1) Navigation is Popped while autocomplete is in focus with a list of items being displayed and no item is selected.
2) When the ensuing Navigation screen is popped, the following exception is thrown.

Both Widgets use which create back button at the top:
return new Scaffold(
      appBar: AppBar(
        title: Text("Title"),
      ),
      body: ....

════════ Exception caught by gesture ═══════

[2019-12-03 14:03] kenthinson opened #62 "Feature Request Tab and arrow up down to highlight. Enter to select."
This is a very cool widget. However flutter web and desktop are coming. As well as iPad with keyboard attached. It would be great if this widget supported keyboard interactions. Like the normal up / down arrow to highlight or tab / shift tab and enter to select.

[2019-12-06 06:51] HemantDixit10 opened #63 "Tap and visible all item initially"
How to handle such a case like when a tap or focus on the widget and it show all item first initially.
Let me know if it is allowing such a way. see, https://material-ui.com/components/autocomplete/

[2019-12-08 16:27] marcelser opened #64 "overlay not collapsing upon selection after updateSuggestions"

[2019-12-12 10:05] tuarrep commented on #46
Here my quick and dirty, only-for-my-needs snippet.
No time now to make it more configurable and push a PR

[code]

Hope it helps

[2019-12-16 18:58] XF9 commented on #36
I just encountered the same issue. I solved it by wrapping `SimpleAutoCompleteTextField` and using the mentioned `updateDecoration()` if there is an current state aka not on the first draw. I'm not sure if thats  the intended way, but it works:

[code]

Full, working, example: https://gitlab.com/snippets/1922929

[2019-12-16 21:44] XF9 commented on #64
Hi, I kinda have the same problem with `updateDecoration()`. The overlay won't close until I type something and click somewhere else.

[code]

[2020-01-06 17:59] praharshbhatt commented on #43
I'm having the same issue.
I am populating the data from Cloud firestore, so am using a futurebuilder:

[code]

Error:
[code]

The issue persists even after adding "onFocusChanged: (hasFocus) {},"

[2020-01-13 15:25] jovanovski commented on #60
Same issue here!

[2020-01-27 13:28] maxgmer opened #67 "No way of setting text alignment both for hint and input"
Would be great if someone adds custom alignment support for input and hint.

[2020-02-17 19:33] galves93 opened #68 "Is itemBuilder scrollable?"
i'm using the autocomplete, and i can't scroll the options that gave to me, and i know that has more information...
Is there a way to let scrollable the itemBuilder?

Thank's a lot!

[2020-02-21 10:18] DeepakKanyanRor opened #69 "itemSubmitted not working on Web"
All things working fine but **itemSubmitted** not calling when click on item . I running app on web. chrome

[2020-02-24 12:03] codingforpleasure opened #70 "RTL support is partially, is there something i'm missing?"
I have used this widget, and wrapped it with **Directionality** widget, but it seems that TextDirection.rtl doesn't take effect on the **suggestions part**.

Can somebody tell is there a way to use this widget for RTL text?

[2020-02-27 17:07] marcelser commented on #46
@tuarrep Tried to use this snippet but it doesn't even pass syntax check. Flutter reports "Too many positional arguments 0 expected but 1 found". It seems the code snippet is incomplete to replace the whole listSuggestionsEntry assignment. Also when trying to collapse in Android Studio it has at least missing brackets. Tried adding those but it didn't help on the positional argument error.

Can yo

[2020-02-27 19:47] devmithunnath opened #71 "Autocomplete on Paged list of data"
I have a scenario, where a service is providing paged data for example List<Hospital>. Also, I have a textfield which needs to be autocomplete and show suggestions from the data that has been sent by the above service. I have the service working fine, it sends paged data if I send the pageIndex and pageSize. But I'm not sure how to implement the autocomplete part, is there a way to implement this

[2020-03-01 13:10] bytejutsu commented on #69
same case with flutter apps for desktop

[2020-03-01 16:47] #70 closed

[2020-03-04 02:36] atxarib99 opened #72 "Method call was called on null when pressing suggestion menu item."
When entering something in the search field then hitting a suggested menu item, an error can occur that says, "The method 'call' was called on null". I was getting this issue on the master branch of flutter with autocomplete-textfield version 1.7.3, debugging on Android emulator. However, when I closed the emulator completely, rebuilt the app, and restarted the debugging session, I did not get any

[2020-03-04 02:36] atxarib99 commented on #72
Apologies if this is not where this belongs since this is not an issue so I will go ahead and close this issue.

[2020-03-04 02:36] #72 closed

[2020-03-06 09:30] mmtolsma commented on #62
Agreed. I am also using this for an android tablet application and the use of arrows or tab keys to navigate would be amazing.

[2020-03-22 17:26] tuarrep commented on #46
@marcelser

It works fine on my side. This snippet was extracted from a working and published app (I've added missing bracket).

Without more precise information I can't help you.

[2020-04-03 23:13] halaylanderson commented on #69
same issue here...
tried everything but nothing seems to work

[2020-04-09 13:12] AminYaghouti commented on #69
I have same issue for web.

[2020-04-10 14:32] eduardothiesen commented on #69
Any news on this issue?

[2020-04-10 14:35] AminYaghouti commented on #69
Nothing

Carlos Eduardo Gomes Thiesen <notifications@github.com> schrieb am Fr., 10.
Apr. 2020, 16:32:

[2020-04-10 14:38] Donwaztok commented on #69
I've got a workaround.

the problem is in the "itemBuilder"

[code]

[2020-04-10 15:02] shivaniaakanksha commented on #69
@Donwaztok Can you please elaborate on how you solved this problem?

[2020-04-10 15:10] Donwaztok commented on #69
@shivaniaakanksha i've updated my post to show my code using the BlocPattern.
I've create a Consumer to this widget.

In the ItemBuilder, i've create a Listener with my items in the "Suggestions" list.
The listener will change de value of "SelectedOrg" (instance of OrganizacaoModel) and then the the AutoCompleteTextField will show the right value and i can use the "SelectedOrg" as my value in this

[2020-04-12 14:59] gidyon opened #73 "Suggestions on focus"
Can we start showing suggestions immediately after focus?
Currently suggestions will only appear if the user starts typing which is great but then having an option to display suggestions on focus would accomodate cases where the user is unsure of what to enter (act as hint).

[2020-04-14 20:08] alconasoftware commented on #39
The suggested fix does not work on SimpleAutoCompleteTextField which throws the error when you touch a suggestion from the list.

### Stack:
flutter: The following NoSuchMethodError was thrown while handling a gesture:
flutter: The method 'call' was called on null.
flutter: Receiver: null
flutter: Tried calling: call("cc : cubic centimetres")
flutter:
flutter: When the exception was thrown, this w

[2020-04-21 19:02] Wizzel1 commented on #52
Anything new here ?

[2020-04-21 21:14] aayu24 opened #74 "Using Listview builder along with this"
How can I use a ListView builder along with AutoCompleteTextField package?
I am new to flutter, and hence not that well versed in itemBuilders and ListViews.

Thanks

[2020-04-23 20:40] Wizzel1 opened #75 "Question : How to access the textvalue if user submitts via keyboard ?"
If the user doesn't select a suggestion but instead commits his manual text via keyboard ?

[2020-04-26 14:35] tezine opened #76 "Dynamic suggestions"
Hi, is it possible to use a dynamic suggestion list?
The idea is to retrieve a suggestion list from the backend based on what's typed by the user, so whenever the text changes, a new list is filled with suggestions.
I'm using Consumer and Provider, updating the suggestion list `onPointerDown`, and calling `notifyListeners` after the retrieval of new items, but they are not displayed as suggestions

[2020-04-27 10:57] sajjadjaved01 opened #77 "Dynamic data"
Hi there.
I'm fetching a list of Users from API, i have debugged every thing, data is good.
The issue is i'm unable to show suggestions.

Mean while i can able to do that with static data, the suggestions are showing, but with API data filtering is working on that data, but suggestions list not showing.
Any Idea..

`AutoCompleteTextField<UserDataModel>(
                          key: key,

[2020-04-28 13:35] Arkasher commented on #77
I'm having the same problem. Any suggestions?

[2020-04-28 13:37] sajjadjaved01 commented on #77
still figuring this ...

[2020-04-28 13:57] Arkasher commented on #77
I got it. You should update the Widget and call the setState.

Like:
`setState(() {
    autoCompleteTextField = updateField();
});`

I put this in the textChanged listener, after receive the response from back-end.

[2020-04-28 17:02] sajjadjaved01 commented on #77
what is updateField() for @Arkasher
can you please explain, it a little further.

[2020-04-28 17:55] Arkasher commented on #77
updateField is the method that will return a new instance of the autoCompleteTextField. The setState is called after you update the suggestions list.

[2020-04-30 06:24] #77 closed

[2020-05-01 07:56] jgolding94 opened #78 "Cursor disappears when using the plugin inside an app bar"
I've implemented this package in my app. it is toggle-able inside my app bar (i.e. it replaces the text title when the user clicks on a search icon button, and is replaced by the text title when the user clicks the 'X' button.

I've noticed though that when inside the app bar, the cursor has complete disappeared. I don't know if it is because it is inside the app bar and therefore a bug in the pac

[2020-05-01 15:44] jgolding94 commented on #78
Just as an update, I've noticed that the cursor is present on the Android simulator, but not the iOS simulator. Either way, there is seemingly no way to style it. Could it be an iOS-related bug? Is there any way to style the cursor?

[2020-05-06 15:14] iamprakash13 opened #79 "Unable to Initialize autocomplete textfield on init method()"
I can initialize textfield controller in init function. but can't do with autocomplete textfield. it shows error while running code.

log:
[ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: NoSuchMethodError: The getter 'textField' was called on null.
E/flutter (23780): Receiver: null
E/flutter (23780): Tried calling: textField
E/flutter (23780): #0      Object.noSuchMethod  (dart:c

[2020-05-06 20:58] ericomine commented on #79
`searchTextField` is `null`, maybe try checking whether it's mounted or not?

[2020-05-06 22:14] ankii9600 opened #80 "'itemBuilder' is not building items according to the applied conditions."
itemBuilder: (context,item){
                    if(product.contains(item)){
                      return ListTile(
                      title: Text(
                        item.name,
                        style: TextStyle(
                          color: Colors.orange
                        ),
                      ),
                      leading: Image.network(item.picture,height: 40, wid

[2020-05-07 06:31] iamprakash13 commented on #79
@ericomine  how to check that?

[code]

it still shows the same error. we can't fix value before building this widget. we need to set value after the widget is initialized. but how to do that?
@felixlucien

[2020-05-07 10:17] rgb1380 opened #81 "Overlay hidden by soft keyboard"
When the text field is at the bottom of page and is pushed up by soft keyboard the suggestions overlay gets hidden by the keyboard. Is there a way to display the overlay above the text field in this scenario? Or even better have it automatically choose to display below or above based on whether it has room to fully display or not?

[2020-05-07 10:48] ericomine commented on #79
Sorry, I miss interpreted the error message before. What seems to be null is actually the textField that's retrieved by the getter, which is initialized inside the AutoCompleteTextField state constructor.

Maybe that constructor call hasn't finished yet when you're assigning this value? Can you check the textField for null before assigning and see if it'll at least build?

Can you provide more det

[2020-05-07 14:07] AbedE8 commented on #39
same happens to me

═══════ Exception caught by gesture ═══════════════════════════════════════════
The following NoSuchMethodError was thrown while handling a gesture:
The method 'call' was called on null.
Receiver: null
Tried calling: call("Teva Naot")

When the exception was thrown, this was the stack
#0      Object.noSuchMethod  (dart:core-patch/object_patch.dart:53:5)
#1      AutoCompleteText

[2020-05-07 14:55] nabil-hfz commented on #57
Hi @andresinostroza,
If you assign a key object to your AutoCompleteTextField widget, you can call something like this on your key whenever you want to update Suggestions ===>

key.currentState.updateSuggestions(List<T> items).

I hope this help.

[2020-05-07 15:00] nabil-hfz commented on #52
Hi @Wizzel1,

Yes, there are always new great things are created.

If you assign a key object to your AutoCompleteTextField / SimpleAutoCompleteTextField widget, you can call something like this on your key whenever you want to update Suggestions ===>

key.currentState.updateSuggestions(List items).

I hope this help.

[2020-05-08 20:11] nabil-hfz commented on #52
Hi @Wizzel1,

Yes, there are always new things are happend.

If you assign a key object to your AutoCompleteTextField / SimpleAutoCompleteTextField widget, you can call something like this on your key whenever you want to update Suggestions ===>

key.currentState.updateSuggestions(List items).

I hope this help.

[2020-05-11 13:22] Wizzel1 commented on #52
@nabil-hfz thanks !

[2020-05-14 16:38] matteoandreozzi opened #82 "option to append suggestion to textField rather than replacing its content"
`String newText = suggestion.toString();
                                        if (submitOnSuggestionTap) {
                                        textField.focusNode.unfocus();
                                        itemSubmitted(suggestion);
                                        if (clearOnSubmit) {
                                          clear();

[2020-05-19 11:17] arpit-d commented on #75
dunno if you still need it, but you can use textChanged function. For eg.

`textChanged: (val) {
                          setState(() {
                           [your_var_name]= val;
                          });
                        },`

[2020-05-20 15:02] Wizzel1 commented on #75
@arpit-d thanks, much appreciated

[2020-05-28 11:19] rivetingpeppermint commented on #76
I know it's been a month, but this might help. Use a global key assigned to the autocomplete textfield, e.g. _autoKey. Use updateSuggestions, like this: `_autoKey.currentState.updateSuggestions(List suggestions);`

[2020-06-05 05:35] khairultonu commented on #63
Set `minLength: 0`

[2020-06-06 17:31] karunstha commented on #81
Same here, did you find any workaround?

[2020-06-08 07:38] ganeh04 opened #83 "word duplication issue in samsung and miui devices"
I am working on project based on the flutter. My requirement is like I will have an text box by entering 4 letters in that text box I need to make an API call and I need to display the suggestion list. I am using this library for displaying the suggestion. The problem is all this API call and every thing is working fine but in the devices like Samsung and devices built on MI-UI versions when user

[2020-06-13 09:47] sirapolw commented on #46
I tried this snippet, turn out the overlay does not show up.

[2020-06-13 11:00] tuarrep commented on #46
I'm sorry @sirapolw I couldn't help you. It was working for me in December. Since then the project was shipped to my client and I do not maintain it anymore.

[2020-06-13 19:54] sirapolw commented on #46
`import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
import 'dart:math';

typedef Widget AutoCompleteOverlayItemBuilder<T>(
    BuildContext context, T suggestion);

typedef bool Filter<T>(T suggestion, String query);

typedef InputEventCallback<T>(T data);

typedef StringCallback(String data);

class AutoCompleteTextField<T> extends StatefulWidget {
  final List<T> sug

[2020-06-15 14:27] shree-krishna-gapi opened #84 "Instance of ''"

[2020-06-30 19:52] Cardoso-CHM opened #85 "Widget AutocompleteTextField don't trigger state changes in decoration property."
My AutocompleteTextField widget doesn't changes after some code inside decoration property changes (after setState() is called in other widget).

My hintText is not changing after the variable "nextSub" change it's value.
My errorText is not changing when variable "_hasError" becomes true.

I don't know if its something about the GlobalKey or maybe is missing some setState inside the class bellow:

[2020-07-02 15:13] praharshbhatt opened #86 "Suggestions Pop up direction [feature request]"
Currently have the textFormfield at the bottom of the screen. So, all the suggestions appear behind the keyboard.
Requesting a way to set the direction of the pop ups- either above or below the Textformfield.

![Screenshot_1593702675](https://user-images.githubusercontent.com/30700808/86376365-84639a80-bca4-11ea-88aa-f8486d5a1500.png)
![Screenshot_1593702676](https://user-images.githubusercontent.

[2020-07-07 09:37] qcuong97 commented on #86
me, too 🤣  but u instead of https://pub.dev/packages/flutter_typeahead#-readme-tab-

[2020-07-08 07:31] tsvillain opened #87 "Instead of Start with it should be has substring."
It will be more use full if instead of getting the suggestion with starting text to if there is any sub string inside.
For ex: in "Hello World" if user enters World it should also show Hello World in suggestion.
Will create a PR.

[2020-07-17 03:31] palkesh-jain commented on #85
I am facing this too.

[2020-07-17 03:32] palkesh-jain commented on #85
I am also facing this for the `errorText` not getting updated.

[2020-07-26 08:30] felixlucien opened #89 "Unit tests"
Tracking progress is hard without good tests, I can't verify that nothing is broken in changes without unit tests. Unit tests must be written to ensure updates don't break people's code.

[2020-07-26 08:41] #87 closed

[2020-07-26 12:00] felixmccuaig commented on #86
Ill take a look

[2020-07-26 13:10] felixmccuaig commented on #86
Added, however, it still has not been rigorously tested... it's in development branch. You can access it by downloading this repository and checking out development branch. I encourage you to test the changes using `suggestionsDirection` and `suggestionWidgetHeight`.

[2020-08-04 08:43] qlssk8737 opened #90 "How to load and save full text after choosing suggestion + customizing suggestion list"
I have a problem with overlaying the text after choosing suggestion. If I choose one, I can see the full text on the textfield. But if I press the save button(this.word), there's only what I typed not whole text. Doesn't textChanged keep state even after suggestion has selected? Here's my code below.

[code]

and also, I want to know how to customize suggestion list like color, shadow, etc. I'd ap

[2020-08-20 19:35] bawantha opened #91 "Continuous Suggestions"
Is there any way to suggest continuously. this suggests only once at start

[2020-09-04 09:05] flogaribal commented on #85
Exact same problem for me, I could not get a localized hint text. It does not update itself when the AppLocalizations object changes.

[2020-09-14 09:37] congfandi opened #92 "can some 1 tell me how to disable after selecting 1 item ?"
i have been search on many article, but i can't find the solution to disable TextField after selecting the item.. thanks

[2020-09-15 17:35] moda20 opened #93 "Automatic unfocus when focusing the Text field"
I am having a problem when trying to focus on the auto_complete textfield. when I tap the field the keyboard shows up but gets dismissed very quickly. the itemSubmittedFunction si not called here.

I do use this textfield with native flutter textFields and that sometimes causes some focus jump, where the focus starts on this field when tapped and then jumps automatically to the next field.

here i

[2020-09-15 18:02] #93 closed

[2020-09-17 11:04] adschi commented on #68
Any updates?

[2020-09-17 11:27] adschi commented on #46
Any updates on this? Really need that feature

[2020-09-17 14:21] adschi opened #94 "How to stay focused in Textfield when submitted?"
Hey I´m using this Textfield for adding items to a List. I want to stay focused when submitting an item, but currently every time I tap an item the keyboard dismisses.
Could anybody tell me how to do this? Thanks in advance.

[2020-09-23 14:34] franarolas commented on #85
Same issue here, I was about to go crazy.

[2020-09-24 07:36] rajeshzmoke commented on #73
@gidyon i got this to work using key and some digging through the code
on tap shows "Hint1","Hint2" as default suggestions, when the user starts typing then data1, 2, 3 are shown based on the query

[code]

[2020-09-24 07:39] rajeshzmoke commented on #91
@bawantha https://github.com/felixlucien/flutter-autocomplete-textfield/issues/73#issuecomment-698172412

[2020-10-12 14:50] BallisticSwami commented on #94
I'm having the same problem. Keyboard loses focus as soon as you tap on it.

[2020-10-18 20:02] mdmota opened #96 "How do I create a validator for the AutoCompleteTextField?"
validator: (value) {
                                 if (value.isEmpty) {
                                   return "msg ....";
                                 }
                                 return null;
                               },

[2020-10-19 22:07] conleec commented on #96
Same question. Would like to apply my basic email validator to this list.

[2020-10-23 00:39] gfb-47 commented on #96
I'm having the same issue..

[2020-10-27 00:16] Molkars commented on #96
I'm in the process of rewriting the library for the current version of text field in flutter. I'll add an AutoCompleteTextFormField while I am at it. I'm unsure if my pull request will be reviewed given the 6 open ones from 14 months ago.

[2020-10-28 11:51] marcio-ota commented on #96
check this fork: [by marcelser](https://github.com/marcelser/flutter-autocomplete-textfield)

[2020-10-28 12:08] mdmota commented on #96
We will wait for the implementation.
For now I decided like this:

`autocompleteField.updateDecoration(decoration: autocompleteField.decoration.copyWith(errorText: "msg error"));`

to clean:
` autocompleteField.updateDecoration(decoration: autocompleteField.decoration.copyWith(errorText: null));`

[2020-10-31 00:53] YannicAmir commented on #77
@Arkasher if you don't mind showing me a full code example of your suggested implementation for fetching data dynamic from API and using autocomplete, I would really appreciate it! I'm facing this issue now

[2020-10-31 02:25] YannicAmir opened #98 "Getting data from API"
I am getting suggestions from an API (over 26,000 in list). When I type into the textfield, I get no suggestions I did a check to print the list to make sure I was receiving the suggestions from the API, however, and I am. As a hint, I see that when I type a letter "A", close the keyboard, and then tap back on the text field where the "A' is typed, I get the errors: where called on null, and I've

[2020-10-31 15:36] YannicAmir commented on #98
Closing, as the solution has been reached per Arkasher's help

[2020-10-31 15:36] #98 closed

[2020-11-03 09:20] DipakSkywave opened #101 "Set maxLength"
How to set maxLength in AutoCompleteTextField?

[2020-11-05 10:25] DipakSkywave opened #102 "Close Keyboard Issue."
**If i click on itemSubmitted then close keyboard, then how to implement if I click itemSubmitted then not close keyboard and how to update hintText programatically?**

There is my code :

return AutoCompleteTextField<List>(
        controller: valueController,
        decoration: InputDecoration(
          hintText: hint.toString(),
          border: InputBorder.none,
          fillColor: Colors.

[2020-11-05 10:34] #101 closed

[2020-11-18 18:44] maciey opened #104 "Show suggestions on focus - without typing anything"
Is there any way to open suggestions dropdown each time control is focused ?

Currently user has to start typing, I need all options to be displayed without any keyboard action

[2020-11-18 18:48] maciey commented on #73
++ VOTE !

[2020-11-18 18:50] maciey commented on #104
Duplicate to: https://github.com/felixlucien/flutter-autocomplete-textfield/issues/73

[2020-11-18 18:50] #104 closed

[2020-11-21 20:41] azmasamy commented on #85
Same thing here, any fix?

[2020-12-04 04:36] agueroveraalvaro commented on #67
Yes, allow center the text please :))!

[2020-12-10 12:14] linoqui14 commented on #39
Still no fix? I have the same problem

[2020-12-10 12:15] linoqui14 commented on #39
onFocusChanged: (hasFocus) {} does not fix it

[2020-12-17 07:27] eimermusic commented on #85
I think this, very special, way of updating the decoration is required to get this kind of functionality.

https://github.com/felixlucien/flutter-autocomplete-textfield/issues/96#issuecomment-717890512

[2020-12-20 20:18] shabeenabarde commented on #96
Can anyone please elaborate more on this? How can I use this so that i can validate the field like how we do in Flutter forms?

[2020-12-20 20:25] Molkars commented on #96
As of right now, built in validation is not supported. You can the alternative method that @mdmota provided. I implemented support for flutter's validation in my latest pull request #103, but as far as I can tell this project is abandoned by the original author. I would suggest [Flutter Typeahed](https://pub.dev/packages/flutter_typeahead), [my fork](https://github.com/Molkars/flutter-autocomplete

[2021-01-01 06:08] DipakSkywave opened #106 "How to use overflow?"
@spidgorny @khamasaki @Ainiuso @altherat @msalinas1088

How to use overFlow in this dependency?

[2021-01-01 09:09] #106 closed

[2021-01-27 20:40] Karlheinzniebuhr opened #107 "Is there a way to use Stream suggestions from firebase?"
I'd like to consume a stream of suggestions from firebase. But I haven't found a way to do this with AutoCompleteTextField.

[2021-01-28 02:47] Molkars commented on #107
You'd need to call the `updateSuggestions` method from AutoCompleteTextFieldState in your listen callback for the stream.

[2021-01-30 15:30] Karlheinzniebuhr commented on #107
That worked, thanks!

[2021-01-30 15:30] #107 closed

[2021-02-08 08:00] DipakSkywave opened #108 "Scroll issue & Instance of issue."
How to make a scroll filtered listview? & how to resolve to get Instance of BookList issue? @felixlucien @spidgorny @khamasaki @Ainiuso @altherat @msalinas1088

this is my code:

return AutoCompleteTextField<BookList>(
        controller: valueController
          ..selection =
              TextSelection.collapsed(offset: valueController.text.length),
        decoration: InputDecoration(

[2021-02-09 20:32] Karlheinzniebuhr commented on #86
Is the updated version going to pub.dev anytime soon  ? The latest version is from Jul 2, 2019

[2021-03-04 22:14] vpeer-admin commented on #93
Hi, I'm facing the same issue, did you found any solution?

[2021-03-04 22:32] vpeer-admin commented on #93
For anyone in the future, in my case I had `key: new GlobalKey()`, I replaced it with a key in the global scope `GlobalKey<AutoCompleteTextFieldState<...>> key = new GlobalKey();`

[2021-03-07 18:54] fccoelho opened #110 "Where is the selected item stored?"
I want to use the selected item after it has been selected by the user. how can I access it?

I need to use the selected item on another in my app.

[2021-03-07 22:49] isorensen opened #111 "Support null-safety"
Hello! thanks for the awesome package.

Dart 2.12 and flutter 2.0.0 are now in stable with the null-safety feature.

Migrating this package to null-safety would help a lot. :)

Here's an official guide from dart doc
https://dart.dev/null-safety/migration-guide

[2021-03-07 23:52] leynier commented on #111
Any update about this guys? I could help with this.

[2021-03-11 12:50] Zeswen commented on #111
Waiting for this to update our application to Flutter 2.0!

It would be awesome to have it ASAP. Thank you for your great work :)

[2021-03-15 14:27] Zeswen commented on #111
@leynier @isorensen This projects has no updates since 2 years ago.

I suggest to make a fork of it and try to make it ourselves!

[2021-03-15 14:46] Zeswen commented on #111
Here is [my take](https://github.com/Zeswen/flutter-autocomplete-textfield) on null-safety with this package!

In case you don't know how to add my fork to your project, here is an example of `pubspec.yaml`:

[code]

[2021-03-18 12:11] isorensen commented on #111
Thanks @Zeswen . Why don't you publish it in pub.dev, then we can use it accordingly with correct versioning?

[2021-03-25 07:18] yanivshaked commented on #111
@isorensen I suggest you issue a pull request.
@felixlucien , Please allow upgrading this package to null safety ....

[2021-03-28 18:41] juvanjan commented on #110
itemSubmitted: (item) => setState(() => selected = item),

This is how you can set the selected item
Search for this in the example

[2021-04-16 10:05] tomcajot opened #112 "Suggestion's Position"
It'd be great if we could choose whether the suggestions appear above / under the textfield. On small phones when the keyboard comes up it is kinda difficult to see the suggestions.

[2021-04-22 17:35] isorensen commented on #111
Dear @Zeswen , I went ahead and "re-forked" your repo, made some improvements (like re-adding the example and updating the documentation), and published it to pub.dev, since it seems that @felixlucien stopped working on this project, since there's no reply from him, and many opened issues. I hope you don't mind. I did gave you the credits in CHANGELOG.md ! 😄

@yanivshaked , @leynier and all, you c

[2021-04-22 17:45] isorensen commented on #111
I'll go ahead and close this issue, since there's an "alternative" for this package that works the same.

[2021-04-22 17:45] #111 closed

[2021-04-23 05:12] yanivshaked commented on #111
@isorensen  Thanks!!

[2021-04-26 17:54] shabeenabarde commented on #79
I am facing the same problem, is this issue fixed ?

[2021-04-26 18:05] shabeenabarde commented on #79
So the following is on my initstate ( imagesToPost.mlMake.toString() is supposed to be 'Toyota' ) :

       try {
      print( "imagesToPost.mlMake.toString() IS ============== ${imagesToPost.mlMake.toString()}");
      searchTextFieldMake.textField.controller.text = imagesToPost.mlMake.toString()';
    } catch (e) {
      print("CATCHED ERROR IS ============== $e");
    }

And i get this in my fo

[2021-04-27 22:45] sanidhya711 opened #113 "how do i make thr text filtering non case sesitivite but the value remains the same in the suggestions i.e retains its case"
i saw soemthing like this on the bottom of the basic usage
itemFilter: (item, query) { return item.toLowerCase().startsWith(query.toLowerCase()); }
but i cant understand where to put this since the Widget dosent have any itemFilter property that we can set

[2021-05-01 01:49] RaineCode178 opened #114 "Supports Null safety"
When will this package supports null safety

[2021-05-04 15:33] chandeshwarkumar commented on #92
same problem with me

[2021-05-04 15:38] chandeshwarkumar commented on #85
having the same problem

[2021-05-04 19:09] sfabio01 commented on #114
@RaineCode178 I migrated the project to null safety and made a pull request but seems the project is no longer supported, the last merge was in October 2019 :(

[2021-05-06 15:03] Zeswen commented on #111
Thank you so much for the contribution @isorensen! I am sorry for the delay, I have been swamped with projects lately, I will use https://pub.dev/packages/autocomplete_textfield_ns :)

[2021-05-14 23:38] kizinho commented on #76
can you give complete code sample having same issues

[2021-05-21 12:59] taimoor522 commented on #113
you should look again because widget has itemFilter property.

[2021-05-21 13:00] taimoor522 opened #116 "Diable Field"
Kindly add field disble feature.

[2021-05-23 10:40] #113 closed

[2021-05-23 21:17] tolotrasamuel commented on #114
Until the author revive this projects or delegates its maintenance, please let's all support the forked version that supports null safety and give it a like https://pub.dev/packages/autocomplete_textfield_ns

[2021-05-28 19:43] vmkgalvatron commented on #86
I also want to use this this feature. Please put it in production.
@felixlucien @khamasaki @msalinas1088

[2021-05-28 19:46] vmkgalvatron commented on #86
How to use flutter type ahead to show suggestions from bottom? @qcuong97

[2021-06-10 19:38] Karlheinzniebuhr commented on #64
having the same problem, the overlay pops up when I call
`updateSuggestions()`
Any suggestions?

[2021-06-10 19:40] Karlheinzniebuhr opened #117 "Please mark this repository as Not Maintained as it is dead since 2019"
This project has been stale since 2019. Please mark it as not maintained, otherwise people are misled.

[2021-06-10 19:58] Karlheinzniebuhr commented on #52
After I updateSuggestions() the overlay pops up automatically without clicking the field. How can I prevent that from happening ?

[2021-06-13 22:09] nabil-hfz commented on #52
@Karlheinzniebuhr

Can you please, provide the full code you use ??
Best reagrds.

[2021-06-20 18:13] kenle commented on #76
1. Define a variable to hold your AutoCompleteTextField instance, e.g. `AutoCompleteTextField autoComplete;`
2. In `Widget build(Build context)` set `autoComplete` variable to `AutoCompleteTextField` instance
3. Use the `autoComplete.updateSuggestions(suggestions)` method whenever `suggestions` array is updated

That worked for me.

[2021-06-20 19:55] WaterHashira commented on #112
hey @tomcajot , I would like work on it

[2021-06-24 12:32] tomcajot commented on #112
I don't really get what you mean?

[2021-07-28 13:31] harsharbandi commented on #67
Looking forward to the textAlign property as well. Thank you :)

[2021-08-05 10:16] pacakman commented on #46
Currently, this is the best way. Thank you

[2021-09-09 00:45] paulosilva159 commented on #15
I did something to avoid this. I put the suggestions list on top of the Autocomplete field.

I changed the height of the suggestions list to 120. With both CompositedTransformTarget and CmopositedTransformFollower, the suggestion list and the TextFormField are aligned on the topLeft, to i just had to calculate how to align the list on top based on both heights (TextFormField ~= 150) and on the scr

[2021-11-07 12:14] om-surushe opened #118 "Error in example given on pub.dev"
Non-nullable instance field 'textField' must be initialized.
Try adding an initializer expression, or add a field initializer in this constructor, or mark it 'late'.

[2022-01-04 22:18] sgClaudia98 opened #120 "sufix icon on focus disappear"
The suffix icon when text field is focus disappear

[2022-01-10 13:51] ronitP12 opened #121 "Cannot run with sound null safety for ios build in xcode 12.5.1 for Compile and run"
Error: Cannot run with sound null safety, because the following dependencies
**don't support null safety**:

 - package:autocomplete_textfield

this error cannot be resolved specifically for **Ios** android is working fine.

[2022-02-18 12:05] wincelee opened #122 "Support Null Safety"
Please can you support null safety

[2022-03-02 09:35] Outputoliver commented on #120
Use suffix (or prefix) instead of suffixIcon (or prefixIcon) ! It works for my application.

[2022-03-08 17:36] sgClaudia98 commented on #120
@Outputoliver finally changed the icon color to black and magically appears

[2022-05-03 15:40] marcosalberto1991 commented on #76
con respuesta muy pobres le voy a pasa la solución definitiva, hay que pensar como no conocemos el código

1. tiene que añadir el key
`GlobalKey<AutoCompleteTextFieldState<String>> keyAutoCompleteText = new GlobalKey();
`
la llave keyAutoCompleteText se declara al inicio del componete
2. llama el método para actualiza la lista
`    keyAutoCompleteText.currentState.updateSuggestions(listaPlaca);
`

[2022-06-11 08:50] felixmccuaig commented on #122
Working on it, feel free to put in a pull request :)

[2022-06-11 08:50] #122 closed

[2022-06-11 08:50] #89 closed

[2022-06-11 09:34] felixmccuaig commented on #121
Just added null safety in version 2.0.0 :)

[2022-06-11 09:34] #121 closed

[2022-06-11 09:35] felixmccuaig commented on #114
Just added null safety in version 2.0.0 :)

[2022-06-11 09:35] #114 closed

[2022-06-11 09:37] felixmccuaig commented on #69
taking a look

[2022-06-11 09:42] felixmccuaig commented on #69
Hi all, I haven't had this issue when using the latest version (2.0.0)

Please let me know if it still exists.

[2022-06-11 09:42] #69 closed

[2022-06-11 09:45] felixmccuaig commented on #112
@tomcajot The issue here is when rendering the suggestions we render downwards, if we render them above the textfield we have to reverse the rendering direction from bottom to top. Is this the functionality you had in mind?

[2022-06-11 09:46] felixmccuaig commented on #118
?

[2022-06-11 09:46] #118 closed

[2022-06-11 09:46] #117 closed

[2022-06-11 09:47] felixmccuaig commented on #116
?

[2022-06-11 09:47] #116 closed

[2022-06-11 09:47] #91 closed

[2022-06-11 09:47] #84 closed

[2022-06-11 09:48] felixmccuaig commented on #76
This can be done, just update the suggestions list when the backend request is completed.

[2022-06-11 09:48] #76 closed

[2022-06-11 09:51] felixmccuaig commented on #92
Are you trying to disable the textfield once a suggestion has been selected?

This may be done using FocusNode.

[2022-06-11 09:51] #92 closed

[2022-06-11 09:52] #108 closed

[2022-06-11 09:54] felixmccuaig commented on #90
I have no idea what you're asking here.

[2022-06-11 09:54] #90 closed

[2022-06-11 09:54] #102 closed

[2022-06-11 09:55] felixmccuaig commented on #86
Should be included in 2.0.0 :)

[2022-06-11 09:55] #86 closed

[2022-06-11 09:55] felixmccuaig commented on #112
#86

[2022-06-11 09:55] #112 closed

[2022-06-11 09:56] #110 closed

[2022-06-11 09:56] felixmccuaig commented on #94
Use custom FocusNode

[2022-06-11 09:56] #94 closed

[2022-06-11 10:08] felixmccuaig commented on #96
I've requested @[marcelser](https://github.com/marcelser) make a PR to get this in. :)

[2022-06-11 10:08] #80 closed

[2022-10-29 07:12] PraveenGangula1392 commented on #96
@felixmccuaig Any update on providing validator ?